.new-expense {
  padding: 3rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 38px;
  text-align: center;
  background: #42224a;
  color: white;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  color: white;
  border-radius: 20px;
  margin-right: 1rem;
  background: #ef8767;
}
.new-expense:active {
  outline: none;
  border: none;
}
.new-expense button:hover,
.new-expense button:active {
  background-color: #ee6f48;
}

.new-expense button.alternative {
  color: #ffffff;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ffffff;
}
